<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactnativenavigation">

    <application>
        <activity android:name="com.reactnativenavigation.activities.TabActivity" />
        <activity android:name="com.reactnativenavigation.activities.BottomTabActivity" />
        <activity android:name="com.reactnativenavigation.activities.SingleScreenActivity" />
    </application>

</manifest>
